
.dimension {
    border: 1px solid #777;
    width: 50vw;
    transform: translateX(+50%)
}

.locked {
    background: darkred;
}

.achieve-1 {

    position: relative;
    display: inline-block;
    color: var(--color-text);
    font-size: 12px;
}
#news{
    :5vw;
}
.achieve-2 {

    background-color: var(--color-text-inverted);
    height: 100px;
    width: 100px;
    border: 1px solid var(--color-text);
    color: var(--color-text);
    font-size: 11px;
}
#news{
    margin: auto;
    border-radius: 5px;
}
.center {

    text-align: center;
}

.usesticky {
    position: sticky;
    top: 0px;
    z-index: 5;
}
.top_1{
    background: var(--color-text-inverted);
}

.mm3_upgrades{
    width: 23.5vw;
    height: 16.3vw;
    background-color: var(--color-text-inverted);
    color: #fff;
    border: 4px solid #72ac28;
    border-radius: 8px;
    font-family: 'Courier New', 'Source Han Sans', sans-serif;
    font-size: 2.3vw;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}
.mm3_upgrades_bought{
    color:var(--color-text-inverted);
    background:#72ac28;
}

.tooltip { 
    pointer-events: none;
    text-align: center;
    width: 150px;
    font-size: 12px;
    line-height: 1.2;
    bottom: 100%;
    left: 50%;
    margin-bottom: 5px;
    transform: translateX(-50%);
    padding: 7px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.5s;
  
    position: absolute;
    z-index: 20000;
  
    background-color: rgba(0, 0, 0, 0.75);
    color: var(--color-text);
    content: attr(tooltip);
    font-size:14px;

}

.tooltip:after {
    position: absolute;
    bottom: 100%;
    left: 50%;

    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}
.tooltipBox { 
	position: relative;
  }
  
  .tooltipBox:hover .tooltip{
	opacity: 1;
  }

@keyframes a-existence-glow {
    0% {
        color: var(--color-text-inverted);
        text-shadow: 0.1rem 0.1rem 0.2rem var(--color-text);
    }

    50% {
        color: var(--color-text-inverted);
        text-shadow: 0.1rem 0.1rem 0.8rem var(--color-text);
    }

    100% {
        color: var(--color-text-inverted);
        text-shadow: 0.1rem 0.1rem 0.2rem var(--color-text);
    }
}

.existence {
    animation: a-existence-glow 3s infinite; color: white; line-height: 0;
}