

.locked {
    background: darkred;
}

#news{
    height:5vw;
}
#news{
    margin: auto;
    border-radius: 5px;
}
.center {

    text-align: center;
}

.usesticky {
    position: sticky;
    top: 0px;
    z-index: 5;}
/*}*/
/*.mm3_upgrades{*/
/*    width: 23.5vw;*/
/*    height: 16.3vw;*/
/*    background-color: black;*/
/*    color: #fff;*/
/*    border: 4px solid #72ac28;*/
/*    border-radius: 8px;*/
/*    font-family: 'Courier New', 'Source Han Sans', sans-serif;*/
/*    font-size: 2.3vw;*/
/*    text-decoration: none;*/
/*    cursor: pointer;*/
/*    display: inline-block;*/
/*}*/
/*.mm3_upgrades_bought{*/
/*    color:black;*/
/*    background:#72ac28;*/
/*}*/

.tooltip { 
    pointer-events: none;
    text-align: center;
    width: 150px;
    font-size: 12px;
    line-height: 1.2;
    bottom: 100%;
    left: 50%;
    margin-bottom: 5px;
    transform: translateX(-50%);
    padding: 7px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.5s;
  
    position: absolute;
    z-index: 20000;
  
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    content: attr(tooltip);
    font-size:14px;

}

.tooltip:after {
    position: absolute;
    bottom: 100%;
    left: 50%;

    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}
.tooltipBox { 
	position: relative;
  }
  
  .tooltipBox:hover .tooltip{
	opacity: 1;
  }

@keyframes a-existence-glow {
    0% {
        color: black;
        text-shadow: 0.1rem 0.1rem 0.2rem white ;
    }

    50% {
        color: black;
        text-shadow: 0.1rem 0.1rem 0.8rem white;
    }

    100% {
        color: black;
        text-shadow: 0.1rem 0.1rem 0.2rem white;
    }
}
.charged_text {
    color: cyan;
    text-shadow: -1px -1px 3px lightskyblue, 0px 0px 5px #878ffa, 1px 1px 3px blue;
}
.existence {
    animation: a-existence-glow 3s infinite; color: black; line-height: 0;
}

h1{
    font-family: 'Noto Sans SC', sans-serif;
}
h2{
    font-family: 'Noto Sans SC', sans-serif;
}
@font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notosanssc/v36/k3kCo84MPvpLmixcA63oeAL7Iqp5IZJF9bmaG9_FnYw.ttf) format('truetype');
}

.game-link{
    color: #008040;
}


#news {
    color: black;
    width: 90%;
    top: 0px;
    height: 20px;
    border: solid 2px #222;
    background-color: rgb(217,217,217);
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 16px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#newsText {
    white-space: nowrap;
}