<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/a.css">
    <title>多维体积增量 - Page Rewritten</title>
    <script src="js/technical/hotkeys.js"></script>
    <script src="js/technical/ExpantaNum.js"></script>
    <script src="js/technical/format_expantanum.js"></script>
    <script src="js/technical/vue.js"></script>
    <script src="js/init.js"></script>
    <script src="js/display.js"></script>
    <script src="js/mm3.js"></script>
    <script id="MathJax-script" src="https://cdn.bootcss.com/mathjax/3.0.5/es5/tex-mml-chtml.js"></script>

    <script src="js/script.js"></script>
    <script src="js/format_time.js"></script>
    <script src="js/saves.js"></script>
    <script src="js/hotkey.js"></script>
    <script src="js/newsticker.js"></script>
</head>
<body>
<div id="app">
    <div class="center" :class="{top_1: true,usesticky: player.options.stickyDisplay}">
        <newsticker v-if="player.options.showNewsTicker"></newsticker>
        <div id="pts">
            你有
            <div class="pts-dis" :style="getvolumecolor()">{{ format(player.volumes) }} mm<sup>4</sup></div>
            4维体积<br>
        </div>
        <div v-if="developer_mode">
            <p class="center">距离上一次永恒已经过去了{{formatTime.fromSeconds(player.time.eter)}}</p>
            <p class="center">游戏速度: {{developer.timeboost}}x</p>

        </div>
    </div>


    <div v-if="developer_mode">
        <p class="center">
            <del>本游戏内置了MathJax，\(g_{\omega}(10)=f_0(9)\)，但是这无关紧要</del>
        </p>
        <p class="center">测试版 URL: {{location.href}}</p>
    </div>
    <div class="center">
        <button class="btn" @click="tabShow = '1'" :disabled="inTab(1)">主要</button>
        <button class="btn" @click="tabShow = '11'" :disabled="inTab(2)" v-if="player.mm3_volumes.unl">3维体积</button>
        <button class="btn" @click="tabShow = '21'" :disabled="inTab(3)">选项</button>
        <button class="btn" :style="{background: getUndulatingColor(1)}" v-if='developer_mode'
                @click="tabShow = '114511'" :disabled="inTab(11451)">debug
        </button>

    </div>
    <br>
    <div class="center" v-if="['1','2','3','4'].includes(tabShow)">
        <div>
            <button class="btn" @click="tabShow = '1'" :disabled="tabShow==='1'">4维</button>
            <!--            <button class="btn" @click="tabShow = '3'" :disabled="tabShow==='3'">3.5维</button>-->
            <!--<button class="btn" @click="tabShow = '4'" :disabled="tabShow==='4'">里程碑</button>-->
        </div>
        <br>
        <div v-if="tabShow==='1'">
            <p>Tickspeed 速度: x{{format(player.tickspeed_amount)}}每一个Tickspeed升级</p>
            <p>Tickspeed使维度使维度x{{format(player.tickspeed_amount.pow(player.tickspeed))}}<span class="soft"
                                                                                                    v-if="player.tickspeed.gte(1000)">(受软上限限制)</span>
            </p>
            <button class="btn" :disabled="player.volumes.lt(calc_tickspeed_cost())" @click="upgradeTickspeed()">
                Tickspeed: {{ formatWhole(player.tickspeed)}}<br>需要{{ formatWhole(calc_tickspeed_cost())}}
                mm<sup>4</sup></button>
            <button class="btn" @click="buyAll()">全部最大 (M)</button>
            <div v-for="dim in dimensions" :key="dim.id">
                <div class="dimension" v-if="!(player.dim_boost.add(4).lte(dim.id-1))">
                    {{ dim.label }}{{ dim.id }}
                    <span>{{ format(player.dimensions[DIMENSIONS_POINTS][dim.id - 1]) }}</span>
                    x<span>{{ format(player.dimensions[DIMENSIONS_MULTI][dim.id - 1]) }}</span>
                    <span>{{ format(player.dimensions[DIMENSIONS_BOUGHT][dim.id - 1]) }}</span>
                    <br>
                    <span>价格：{{ format(player.dimensions[DIMENSIONS_COST][dim.id - 1]) }} mm<sup>4</sup></span>
                    <button class="btn" :disabled="!buyable(dim.id)" @click="buydim(dim.id)">购买</button>
                </div>
                <div class="dimension locked" v-else-if="player.dim_boost.add(4).lte(dim.id-1)">
                    需要维度提升
                </div>
                <br>
            </div>
            <button class="btn" :disabled="!boostable()" @click="dimensionBoost()">维度提升(<span
            >{{ formatWhole(player.dim_boost) }}</span>)<br>重置维度，tickspeed<br><span
                    v-html="boost_reward_desc()"></span>
            </button>
            <br>
        </div>
        <!--<div v-if="tabShow==='3'">
            <p>你有 <span>{{format(player.mm3o5_volumes.points)}}</span> mm<sup>3.5</sup>
                3.5维体积(每秒x<span>{{format(getMM3o5speed())}}</span>)</p>
            <p>达到<span to-format-4>1e120</span> 4维体积后，你的3.5维体积将开始自我复制！</p>
            <p>
                你的3.5维体积使购买10个的倍率+<span>{{format(player.mm3o5_volumes.points.logarithm("100").div(10).minimum("1.5"))}}</span>
            </p>
            <p class="corrupted">ERROR: 由于小数维度，无法推测单位换算关系</p>
        </div>-->
        <!--<div v-if="tabShow==='4'">
            <div>
                <div v-for="achieve_list in achieves">
                    <div v-for="achieve in achieve_list">
                        {{achieve.id}}
                        {{achieve.label}}
                        <span v-if="achieve.unlock">已完成</span>

                    </div>
                </div>
            </div>

        </div> -->
    </div>
    <div v-if="['11','12','13'].includes(tabShow)" class="center">
        <div>
            <button class="btn" @click="tabShow = '11'" :disabled="tabShow==='11'">升级</button>
            <button class="btn" @click="tabShow = '12'" :disabled="tabShow==='12'">自动化</button>
        </div>
        <span>你有{{format(player.mm3_volumes.points)}} mm<sup>3</sup> 3维空间</span>
        <div v-if="tabShow=='11'">
            <table class="center">
                <tr v-for="upgrade_hang in mm3.upgrades">
                    <td v-for="upgrade in upgrade_hang">
                        <button :class="{mm3_upgrades:true,mm3_upgrades_bought: hasMM3upgrade(upgrade.id)}"
                                @click="buyMM3upgrade(upgrade.id)">
                            <span v-html="upgrade.name"></span><br>
                            价格：{{format(upgrade.cost)}} mm<sup>3</sup><br>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
        <div v-if="tabShow=='12'">

            <div v-for="dim in dimensions" :key="dim.id">
                <button class="btn" @click="toggleAutobuyer(dim.id)">
                    {{dim.label}}
                    自动化: {{getOpenClose(player.mm3_volumes.automation[dim.id])}}
                </button>
            </div>
        </div>
    </div>
    <div v-if="['21','22','23','24'].includes(tabShow)" class="center">
        <div>
            <button class="btn" @click="tabShow = '21'" :disabled="tabShow==='21'">保存</button>
            <button class="btn" @click="tabShow = '22'" :disabled="tabShow==='22'">关于</button>
            <button class="btn" @click="tabShow = '23'" :disabled="tabShow==='23'">统计</button>
            <button class="btn" @click="tabShow = '24'" :disabled="tabShow==='24'">显示</button>
        </div>
        <br>
        <div v-if="tabShow=='21'">
            <button class="btn" @click="export_copy()">导出</button>

            <button class="btn" @click="export_file()">导出为文件</button>

            <button class="btn" @click="import_save()">导入</button>

            <button class="btn" @click="import_file()">以文件导入</button>

            <button class="btn" @click="formated_hard_reset()">
                硬重置
            </button>

        </div>
        <div v-if="tabShow=='23'">
            距离上一次永恒已经过去了{{formatTime.fromSeconds(player.time.eter)}}<br>
            你总共制造了{{format(player.volume_generated.mm4)}} mm<sup>4</sup> 4维体积;
        </div>
        <div v-if="tabShow=='22'">
            <!--<button class="btn" onclick="window.open('saving_center.php')" id="saving_cent_btn">存档银行</button>
    -->
            当前Endgame: 1.79e308 mm<sup>4</sup><br>
            当前版本：v1.0.1.2<br>
            游戏作者：VeryrrDefine<br>
            本游戏使用了<a href="https://github.com/Naruyoko/ExpantaNum.js" target="_blank">Naruyoko/ExpantaNum.js</a>
            <a
                    href="https://github.com/cloudytheconqueror/letter-notation-format"
                    target="_blank">cloudytheconqueror/letter-notation-format</a>来处理大数字<br>

            支持所有序数增量吧吧友，你可以点击链接来游玩吧友们自制的增量游戏：<br>
            <a href="https://seanxlx2011.github.io/" target="_blank" style="color: #00ff80;">数据增量重制版IDR</a>、
            <a href="https://0i00000000a7.github.io/points-incremental-rewritten/" target="_blank"
               style="color: #00ff80;">点数增量重制版PIR</a>、
            <a href="https://aster131072.github.io/incremental_evolution/" target="_blank"
               style="color: #00ff80;">增量进化IE</a>、
            <a href="https://dlsdl.github.io/wind_spirit_creation/" target="_blank"
               style="color: #00ff80;">风灵作成WSC</a>
            <br>
            <del>拿0100000000a7的游戏的CSS改的</del>
            <br>
            <del>绝对没有</del>
            <br>
            <h1>-----更新日志-----</h1>
            <div v-for="changelog in changelogs">
                <h2 v-html="changelog.version"></h2>

                <p v-for="text in changelog.changes" v-html="text"></p>

            </div><!--
            <div>
                <h3>v1.0.1</h3>

                <p>使用Vue</p>
                <p>移除菜单</p>
                <p>体积菜单分两个</p>
                <p>添加3.5维度</p>
                <p>添加软上限</p>
                <p>取消音乐切换</p>
                <p>取消无javascript提示</p>
                <p>
                    <del>移除第9,2085维度</del>
                </p>
                <p>
                    <del>把"shoot 114514 shots"改成"shoot 1919810 shots"</del>
                </p>
                <p>修改维度提升结果</p>
                <p>添加维度星系</p>
                <p>维度页面新样式</p>
                <p>移除了部分新闻</p>
                <p>添加了tickspeed</p>

            </div>
            <div>
                <h3>v1.0.0-24-6-16</h3>
                <p>移除菜单栏</p>
            </div>
            <div>
                <h3>v1.0.0-24-6-15-1-3</h3>
                <p>修复修复修复修复新闻不能显示的bug失败的bug失败的bug失败的bug</p>
            </div>
            <div>
                <h3>v1.0.0-24-6-15-1-2</h3>
                <p>修复修复修复新闻不能显示的bug失败的bug失败的bug</p>
            </div>
            <div>
                <h3>v1.0.0-24-6-15-1-1</h3>
                <p>修复修复新闻不能显示的bug失败的bug</p>
            </div>
            <div>
                <h3>v1.0.0-24-6-15-1</h3>
                <p>修复新闻不能显示的bug</p>
            </div>
            <div>
                <h3>v1.0.0-24-6-15</h3>
                <p>格式化代码</p>
                <p>严格化代码</p>
                <p>移除第五维度</p>
                <p>添加第三维度</p>
            </div>
            <div>
                <h3>v1.0.0-24-6-9-1</h3>
                <p>提高维度增加速度</p>
                <p>维度倍数设置为x2</p>
            </div>
            <div>
                <h3>v1.0.0-24-6-9</h3>
                <p>添加维度提升</p>
            </div>
            <div>
                <h3>v1.0.0</h3>
                <p>添加第五维度</p>
            </div>
            <div>
                <h3>v1.0.0-pre7</h3>
                <p>删除部分文件</p>
            </div>
            <div>
                <h3>v1.0.0-pre6</h3>
                <p>移除了存储硬上限</p>
                <p>修复了维度8显示0的bug</p>
            </div>
            <div>
                <h3>v1.0.0-pre3~5</h3>
                <p>移除了黑洞吞噬</p>
            </div>
            <div>
                <h3>v1.0.0-pre2</h3>
                <p>语言测试</p>
                <p>添加了黑洞吞噬</p>
            </div>
            -->
        </div>
        <div v-if="tabShow=='24'">
            <button @click="toggleNewsTicker()" class="btn">开启新闻： {{getOpenClose(player.options.showNewsTicker)}}
            </button>
            <button @click="toggleStickyDisplay()" class="btn">开启粘性定位：
                {{getOpenClose(player.options.stickyDisplay)}}
            </button>
        </div>
    </div>
    <div v-if="['114511'].includes(tabShow)" class="center">
        <button class="btn" @click="speedrun(1)">游戏速度 1x</button>
        <button class="btn" @click="speedrun(10)">游戏速度 10x</button>
        <button class="btn" @click="speedrun(50)">游戏速度 50x</button>
        <button class="btn" @click="speedrun(100)">游戏速度 100x</button>
        <button class="btn" @click="speedrun(1000)">游戏速度 1000x</button>
        <br>

        <button class="btn" @click="fast_hard_reset()">快速硬重置</button>
        <br>
        <button class="btn" @click="dev_reset_vol()">重置体积</button>
        <br>
        <button class="btn" @click="player.mm3_volumes.unl = true">解锁mm<sup>3</sup></button>
        <br>

        <label>
            <button class="btn" @click="get_mm4_vol()">获取<span v-html="developer_get_mm4"></span> mm<sup>4</sup>4维体积如果可以：
            </button>
            <input type="text" v-model:value="developer_get_mm4">
        </label>

    </div>

</div>
</body>
</html>